body {
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: transparent;
    padding-top: 47px;
}

.navbar-nav .menu-item {
    margin-right: 40px; 
    margin-left: 40px; 
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #212832;
    text-decoration: none;
}

.navbar-nav .menu-item a{
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #212832;
    text-decoration: none;
}

.navbar-nav .menu-item:last-child {
    margin-right: 0;
}

.btn.sign-up-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: transparent; 
    border: 1px solid #212529; 
    border-radius: 5px; 
    color: #212529; 
    margin-left: 75px; 
}

.header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.maintext-1{
    font-family: Volkhov;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -4%;
    max-width: 545px;
    color: #181E4B;
}

@media (max-width: 992px) {
    .maintext-1 {
        font-size: 64px;
        line-height: 70px;
        letter-spacing: -0.03em;
    }
}

@media (max-width: 768px) {
    .maintext-1 {
        font-size: 48px;
        line-height: 55px;
        max-width: 400px;
    }
}

@media (max-width: 576px) {
    .maintext-1 {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: normal;
        max-width: 100%; 
    }
}

@media (max-width: 576px) {
    .card.travel-hero-card {
        padding-top: 100px; 
    }
}

.subtext-1{
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #DF6951;
}

.subtext-2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #5E6282;
    max-width: 477px;
}

.btn.find-btn{
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    background-color: #F1A501;
    padding: 19px 27px;
}

.play-demo-link {
    display: flex;
    align-items: center;    
    text-decoration: none;    
    gap: 10px;
}

.play-icon-container {
    width: 52px; 
    height: 52px;    
    border-radius: 50%;    
    background-color: #DF6951;     
    position: relative; 
}

.play-triangle-icon {
    width: 14px; 
    height: 14px;    
    position: absolute;
    top: 50%;
    left: 55%; 
    transform: translate(-50%, -50%); 
}

.play-demo-text {
    font-size: 18px; 
    font-weight: 500; 
    color: #686D77; 
}

.card.hero-section{
    background: transparent;
    border: none;
}

.hero-background-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-repeat: no-repeat;
    z-index: 1; 
}